
@using PagedList.Mvc
@using Sabz.ServiceLayer.Enumration
@using Sabz.ServiceLayer.Extension
@model SabzGashtTransportation.ViewModel.LogDriverRoutFullViewModel

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script src="~/js/jquery-3.3.1.min.js"></script>

@{
    ViewBag.Title = "نمایش مسیرهای روزانه";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @Styles.Render("~/css/css/style.css");
    var counter = 1;
    var routTransactionType = "";
    string driverDropDown = Model.DriverId != 0 ? Model.Drivers.Where(x => x.Id == Model.DriverId).FirstOrDefault().FullName : "";
    string regionDropDown = Model.RegionId != 0 ? Model.Regions.Where(x => x.Id == Model.RegionId).FirstOrDefault().RegionName : "";
}

<h2 class="style-h2">نمایش مسیرهای روزانه</h2>

<button type="button" onclick="location.href='@Url.Action("create")';return false;" class="btn btn-success">ثبت جدید</button>

@using (Html.BeginForm("Index", "LogDriverRout", FormMethod.Get))
{
    @*<p class="search_table">
            جستجو در جدول: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="جستجو" />
        </p>*@

    <div class="searchBox">
        <h4>جستجو</h4>
        <table>
            <tr>
                <th class="font-small">نام شرکت</th>
                @if (string.IsNullOrEmpty(regionDropDown))
                {
                    regionDropDown = "انتخاب کنید";
                }
                <th>
                    @Html.DropDownListFor(x => Model.RegionId, new SelectList(Model.Regions, "Id", "RegionName"), regionDropDown)
                    @*@Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })*@
                </th>
            </tr>
            <tr>
                <th>راننده</th>
                @if (string.IsNullOrEmpty(driverDropDown))

                {
                    driverDropDown = "انتخاب کنید";
                }

                @*<th>@Html.TextBox("dropDriverId", ViewBag.CurrentFilterDriver as string)</th>*@
                <th>
                    @Html.DropDownListFor(x => Model.DriverId, new SelectList(Model.Drivers, "Id", "FullName"), driverDropDown)
                    @*@Html.ValidationMessageFor(model => model.DriverId, "", new { @class = "text-danger" })*@
                </th>
            </tr>
            <tr>
                <th>از تاریخ</th>
                <th>@Html.TextBox("SearchDateFrom", ViewBag.CurrentFilterDateFrom as string)</th>
                <th>تا تاریخ</th>
                <th>@Html.TextBox("SearchDateTo", ViewBag.CurrentFilterDateTo as string)</th>
            </tr>

        </table>
        <p class="search_table">
            <input type="submit" value="جستجو" id="btnSearchCode" name="search" />
            <input type="button" value="حذف فیلتر" onclick="location.href='@Url.Action("index")';return false;">
        </p>

    </div>
}
@*<table id="showList">
        <tr>
            <th>
                @Html.ActionLink("راننده", "Index", new { sortOrder = ViewBag.Driver, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink(" انجام", "Index", new { sortOrder = ViewBag.IsDone, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("نوع فعالیت", "Index", new { sortOrder = ViewBag.IsTemporary, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("تاریخ انجام", "Index", new { sortOrder = ViewBag.DoDate, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("جریمه", "Index", new { sortOrder = ViewBag.Fine, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                عملیات
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DriverRoutTbl.DriverTbl.FullName)
                </td>
                <td>
                    @(item.IsDone == Convert.ToBoolean(WorkDoneEnum.Done) ? WorkDoneEnum.Done.GetDisplayName() : WorkDoneEnum.NotDone.GetDisplayName())
                </td>
                <td>
                    @(item.RoutIsTemporary == (int)WorkTemporaryEnum.IsTemporary ? WorkTemporaryEnum.IsTemporary.GetDisplayName() : WorkTemporaryEnum.IsNotTemporary.GetDisplayName())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoDateString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinePrice)
                </td>
                <td>
                    @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("جزئیات", "Details", new { id = item.Id }) |
                    @Html.ActionLink("حذف", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>*@
<table id="showList">
    <tr>
        <th>
            ردیف
        </th>

        <th>
            @Html.ActionLink("شرکت مسیر", "Index", new { sortOrder = ViewBag.RoutRegion, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("راننده", "Index", new { sortOrder = ViewBag.Driver, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("نوع مسیر", "Index", new { sortOrder = ViewBag.RoutTransaction, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(" مسیر ورودی/خروجی", "Index", new { sortOrder = ViewBag.RoutShiftType, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("ساعت مسیر", "Index", new { sortOrder = ViewBag.RoutTime, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("تاریخ مسیر", "Index", new { sortOrder = ViewBag.RoutDate, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("انجام شده؟", "Index", new { sortOrder = ViewBag.IsDone, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(" تاخیر داشته؟", "Index", new { sortOrder = ViewBag.HasDelay, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("مبلغ جریمه", "Index", new { sortOrder = ViewBag.Fine, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            عملیات
        </th>
    </tr>

    @foreach (var item in Model.LogDriverRoutViewModels)
    {
        <tr>
            <td>
                @counter
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoutRegionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverFullName)
            </td>
            @{
                if (item.RoutTransactionType == (int)RoutTransactionTypeEnum.Single)
                {

                    routTransactionType = RoutTransactionTypeEnum.Single.GetDisplayName();
                }
                else if (item.RoutTransactionType == (int)RoutTransactionTypeEnum.Regular)
                {
                    routTransactionType = RoutTransactionTypeEnum.Regular.GetDisplayName();
                }
                else if (item.RoutTransactionType == (int)RoutTransactionTypeEnum.ThereeFour)
                {
                    routTransactionType = RoutTransactionTypeEnum.ThereeFour.GetDisplayName();
                }
                else if (item.RoutTransactionType == (int)RoutTransactionTypeEnum.FiveSeven)
                {
                    routTransactionType = RoutTransactionTypeEnum.FiveSeven.GetDisplayName();
                }
            }
            <td>@routTransactionType</td>

            <td>
                @(item.RoutShiftType == (int)ShiftTypeEnum.Enter ? ShiftTypeEnum.Enter.GetDisplayName() : ShiftTypeEnum.Exit.GetDisplayName())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoutEnterTimeString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoutStartDateString)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsDone, new { @disabled = "disabled" })
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.HasDelay, new { @disabled = "disabled" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinePrice)
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.Id })
            </td>
        </tr>
        counter += 1;

    }

</table>
<br />
<p class="showPage">
    صفحه @(Model.LogDriverRoutViewModels.PageCount < Model.LogDriverRoutViewModels.PageNumber ? 0 : Model.LogDriverRoutViewModels.PageNumber) از @Model.LogDriverRoutViewModels.PageCount
</p>

@Html.PagedListPager(Model.LogDriverRoutViewModels, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(function () {
        $('select').on('change', function () {
            $("#dropRegionId").val(this.value);
        })
        alert(droppRegionId.val);

    })
</script>