@using Sabz.ServiceLayer.Enumration
@using Sabz.ServiceLayer.Extension
@model SabzGashtTransportation.ViewModel.AutomobileViewModel


@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
    @Styles.Render("~/css/style.css");

}

<h2>آیا مطمئن از حذف هستید؟ </h2>
<div>
    <table class="tbl-show">
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">شماره پلاک:</th>
            <th> @Html.DisplayFor(model => model.Number)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">شماره شاسی:</th>
            <th> @Html.DisplayFor(model => model.Shasi)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">سال ساخت:</th>
            <th> @Html.DisplayFor(model => model.CreateYear)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">کولر دار:</th>
            <th> @(Model.AutomobileType.HasCooler ? HasCoolerEnum.HasCooler.GetDisplayName() : HasCoolerEnum.HasNotCooler.GetDisplayName())</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">نوع ماشین:</th>
            <th> @(Model.AutomobileType.IsBus == (int)AutomobileTypeEnum.Bus ? AutomobileTypeEnum.Bus.GetDisplayName() : AutomobileTypeEnum.MiniBus.GetDisplayName())</th>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-danger">حذف</button>
            </div>
        </div>

        <div class="link-back">
            @Html.ActionLink("بازگشت به لیست", "Index")
        </div>
    }
</div>