@using Sabz.ServiceLayer.Enumration
@using Sabz.ServiceLayer.Extension
@using Sabz.ServiceLayer.Utils
@model SabzGashtTransportation.ViewModel.AutomobileViewModel

@{
    ViewBag.Title = "جزئیات اتومبیل";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @Styles.Render("~/css/css/style.css");
}

<h2 class="style-h2">جزئیات اتومبیل</h2>

<div>
    <table class="tbl-show">
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">شماره پلاک:</th>
            <th> @Html.DisplayFor(model => model.Number)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">سال ساخت:</th>
            <th> @Html.DisplayFor(model => model.CreateYear)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">وضعیت کولر:</th>
            <th> @(Model.AutomobileType.HasCooler ? HasCoolerEnum.HasCooler.GetDisplayName() : HasCoolerEnum.HasNotCooler.GetDisplayName())</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">نوع ماشین:</th>
            <th> @(Model.AutomobileType.IsBus == (int)AutomobileTypeEnum.Bus ? AutomobileTypeEnum.Bus.GetDisplayName() : AutomobileTypeEnum.MiniBus.GetDisplayName())</th>
        </tr>

    </table>
</div>
<p>
    <div class="link-back">
        @Html.ActionLink("ویرایش", "Edit", new { id = Model.AutoId }) |
        @Html.ActionLink("بازگشت به لیست", "Index")
    </div>
</p>