
@model PagedList.IPagedList<SabzGashtTransportation.ViewModel.AutomobileViewModel>
@using PagedList.Mvc;
@using Sabz.ServiceLayer.Enumration
@using Sabz.ServiceLayer.Extension
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
    @Styles.Render("~/css/style.css");
}

<h2>اتومبیل ها</h2>

<p>
    <button type="button" onclick="location.href='@Url.Action("create")';return false;" class="btn btn-success">اتومبیل جدید</button>

</p>
@using (Html.BeginForm("Index", "Automobile", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table-sort">
    <tr class="table-sort-tr">
        <th class="table-sort-th">
            @Html.ActionLink("شماره پلاک", "Index", new { sortOrder = ViewBag.Number, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("شماره شاسی", "Index", new { sortOrder = ViewBag.Shasi, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("مدل اتومبیل", "Index", new { sortOrder = ViewBag.AutomobileType, currentFilter = ViewBag.CurrentFilter })
        </th> 
        <th>
            @Html.ActionLink("کولر اتومبیل", "Index", new { sortOrder = ViewBag.AutomobileTypeCooler, currentFilter = ViewBag.CurrentFilter })
        </th> 
        <th></th>
    </tr>   

    @foreach (var item in Model)
    {
        <tr class="table-sort-tr">
            <td class="table-sort-td">
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td class="table-sort-td">
                @Html.DisplayFor(modelItem => item.Shasi)
            </td>
            <td class="table-sort-td">
                @(item.AutomobileType.IsBus == (int)AutomobileTypeEnum.Bus ? AutomobileTypeEnum.Bus.GetDisplayName() : AutomobileTypeEnum.MiniBus.GetDisplayName())
            </td>
            <td class="table-sort-td">
                @(item.AutomobileType.HasCooler ? HasCoolerEnum.HasCooler.GetDisplayName() : HasCoolerEnum.HasNotCooler.GetDisplayName())
            </td>
            <td class="table-sort-td">
                @Html.ActionLink("ویرایش", "Edit", new { id = item.AutoId }) |
                @Html.ActionLink("جزئیات", "Details", new { id = item.AutoId }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.AutoId })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))