
@using PagedList.Mvc
@using Sabz.ServiceLayer.Enumration
@using Sabz.ServiceLayer.Extension
@model PagedList.IPagedList<SabzGashtTransportation.ViewModel.RegionViewModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "شرکت ها";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @Styles.Render("~/css/css/style.css");
    var counter = 1;
}

<h2 class="style-h2">شرکت ها</h2>

<button type="button" onclick="location.href='@Url.Action("create")';return false;" class="btn btn-success">شرکت جدید</button>

@using (Html.BeginForm("Index", "Region", FormMethod.Get))
{
    <p class="search_table">
        جستجو در جدول: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="جستجو" />
    </p>
}
<table id="showList">
    <tr>
        <th>
            ردیف
        </th>
        <th>
           نام شرکت
        </th>
        <th>
            عملیات
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @counter
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RegionName)
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.RegionId }) |
                @Html.ActionLink("جزئیات", "Details", new { id = item.RegionId }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.RegionId })
            </td>
        </tr>
        counter += 1;

    }

</table>
<br />
<p class="showPage">
    صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount
</p>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))