@using Sabz.ServiceLayer.Enumration
@using Sabz.ServiceLayer.Extension
@model SabzGashtTransportation.ViewModel.DriverRoutViewModel


@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
    @Styles.Render("~/css/style.css");

}

<h2>آیا مطمئن از حذف هستید؟ </h2>
<div>
    <table class="tbl-show">
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">راننده:</th>
            <th> @Html.DisplayFor(model => model.DriverFullName)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show"> مسیر:</th>
            <th> @Html.DisplayFor(model => model.RoutName)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">مسیر همیشگی</th>
            <th> @(Model.IsTemporary == (int)RoutTypeEnum.Temporary ? RoutTypeEnum.Temporary.GetDisplayName() : RoutTypeEnum.Always.GetDisplayName())</th>
        </tr>

    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-danger">حذف</button>
            </div>
        </div>

        <div class="link-back">
            @Html.ActionLink("بازگشت به لیست", "Index")
        </div>
    }
</div>