@model Sabz.DomainClasses.DTO.DriverRoutTbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DriverRoutTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DriverTbl.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverTbl.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoutTbl.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoutTbl.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTemporary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTemporary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CFDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CFDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LFDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LFDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
