
@using PagedList.Mvc
@model PagedList.IPagedList<SabzGashtTransportation.ViewModel.DriverRoutViewModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
    @Styles.Render("~/css/style.css");
}

<h2>تصادفات</h2>

<button type="button" onclick="location.href='@Url.Action("create")';return false;" class="btn btn-success">مدل ماشین جدید</button>

@using (Html.BeginForm("Index", "DriverRout", FormMethod.Get))
{
    <p class="search_table">
        جستجو در جدول: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="جستجو" />
    </p>
}
<table id="showList">
    <tr>
        <th>
            @Html.ActionLink("راننده", "Index", new { sortOrder = ViewBag.Driver, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("مسیر", "Index", new { sortOrder = ViewBag.Rout, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("مسیر همیشگی", "Index", new { sortOrder = ViewBag.IsTemporary, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            عملیات
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Driver.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rout.Name)
    </td>
    <td>
        @Html.ActionLink("ویرایش", "Edit", new { id = item.Id}) |
        @Html.ActionLink("جزئیات", "Details", new { id = item.Id}) |
        @Html.ActionLink("حذف", "Delete", new { id = item.Id})
    </td>
</tr>
    }

</table>
<br />
<p class="showPage">
    صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount
</p>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))