@using Sabz.ServiceLayer.Enumration
@using Sabz.ServiceLayer.Extension
@using Sabz.ServiceLayer.Utils
@model SabzGashtTransportation.ViewModel.AutomobileTypeViewModel

@{
    ViewBag.Title = "جزئیات مدل اتومبیل";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @Styles.Render("~/css/css/style.css");
}

<h2 class="style-h2">جزئیات مدل اتومبیل</h2>

<div>
    <table class="tbl-show">
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">کولر دار:</th>
            <th> @(Model.HasCooler ? HasCoolerEnum.HasCooler.GetDisplayName() : HasCoolerEnum.HasNotCooler.GetDisplayName())</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show"> مدل اتومبیل:</th>
            <th> @(Model.IsBus == (int)AutomobileTypeEnum.Bus ? AutomobileTypeEnum.Bus.GetDisplayName() : AutomobileTypeEnum.MiniBus.GetDisplayName())</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">توضیحات:</th>
            <th> @Html.DisplayFor(model => model.Description)</th>
        </tr>

    </table>
</div>
<p>
    <div class="link-back">
        @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("بازگشت به لیست", "Index")
    </div>
</p>