
@using PagedList.Mvc
@using Sabz.ServiceLayer.Enumration
@using Sabz.ServiceLayer.Extension
@model PagedList.IPagedList<SabzGashtTransportation.ViewModel.AutomobileTypeViewModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
    @Styles.Render("~/css/style.css");
}

<h2>تصادفات</h2>

<button type="button" onclick="location.href='@Url.Action("create")';return false;" class="btn btn-success">مدل ماشین جدید</button>

@using (Html.BeginForm("Index", "AutomobileType", FormMethod.Get))
{
    <p class="search_table">
        جستجو در جدول: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="جستجو" />
    </p>
}
<table id="showList">
    <tr>
        <th>
            @Html.ActionLink("کولر دار", "Index", new { sortOrder = ViewBag.HasCooler, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("مدل ماشین", "Index", new { sortOrder = ViewBag.IsBus, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            توضیحات
        </th>
        <th>
            عملیات
        </th> 
    </tr>
 
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(item.HasCooler ? HasCoolerEnum.HasCooler.GetDisplayName() : HasCoolerEnum.HasNotCooler.GetDisplayName())
            
            </td>
            <td>
                @(item.IsBus == (int)AutomobileTypeEnum.Bus ? AutomobileTypeEnum.Bus.GetDisplayName() : AutomobileTypeEnum.MiniBus.GetDisplayName())

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.AutoTypeId }) |
                @Html.ActionLink("جزئیات", "Details", new { id = item.AutoTypeId }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.AutoTypeId })
            </td> 
        </tr>
    }

</table>
<br />
<p class="showPage">
    صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount
</p>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))