@using Sabz.ServiceLayer.Enumration
@using Sabz.ServiceLayer.Extension
@model SabzGashtTransportation.ViewModel.RoutViewModel


@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @Styles.Render("~/css/css/style.css");
}

<h2 class="style-h2">آیا مطمئن از حذف هستید؟ </h2>
<div>
    <table class="tbl-show">

        <tr class="tbl-tr-show">
            <th class="tbl-th-show">منطقه:</th>
            <th> @Html.DisplayFor(model => model.RegionName)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">نوع مسیر:</th>
            <th> @(Model.ShiftType == (int)ShiftTypeEnum.Enter ? ShiftTypeEnum.Enter.GetDisplayName() : ShiftTypeEnum.Exit.GetDisplayName())</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">ساعت ورورد:</th>
            <th> @Html.DisplayFor(model => model.EnterTime)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">تاریخ شروع:</th>
            <th> @Html.DisplayFor(model => model.StartDateString)</th>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-danger">حذف</button>
            </div>
        </div>

        <div class="link-back">
            @Html.ActionLink("بازگشت به لیست", "Index")
        </div>
    }
</div>