@using Sabz.ServiceLayer.Enumration
@using Sabz.ServiceLayer.Extension
@using Sabz.ServiceLayer.Utils
@model SabzGashtTransportation.ViewModel.RoutViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @Styles.Render("~/css/css/style.css");
    var routTransactionType = "";
}

<h2 class="style-h2">جزئیات مسیر</h2>

<div>
    <table class="tbl-show">

        <tr class="tbl-tr-show">
            <th class="tbl-th-show">شرکت:</th>
            <th> @Html.DisplayFor(model => model.RegionName)</th>
        </tr>

        <tr class="tbl-tr-show">
            <th class="tbl-th-show"> تاریخ:</th>
            <th> @Html.DisplayFor(model => model.StartDateString)</th>
        </tr>

        <tr class="tbl-tr-show">
            <th class="tbl-th-show">ساعت ورود/خروج:</th>
            <th> @Html.DisplayFor(model => model.EnterTime)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show"> مسیر ورودی/خروجی:</th>
            <th> @(Model.ShiftType == (int)ShiftTypeEnum.Enter ? ShiftTypeEnum.Enter.GetDisplayName() : ShiftTypeEnum.Exit.GetDisplayName())</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show"> نوع مسیر:</th>

            @{
                if (Model.RoutTransactionType == (int)RoutTransactionTypeEnum.Single)
                {
                    routTransactionType = RoutTransactionTypeEnum.Single.GetDisplayName();
                }
                else if (Model.RoutTransactionType == (int)RoutTransactionTypeEnum.Regular)
                {
                    routTransactionType = RoutTransactionTypeEnum.Regular.GetDisplayName();
                }
                else if (Model.RoutTransactionType == (int)RoutTransactionTypeEnum.ThereeFour)
                {
                    routTransactionType = RoutTransactionTypeEnum.ThereeFour.GetDisplayName();
                }
                else if (Model.RoutTransactionType == (int)RoutTransactionTypeEnum.FiveSeven)
                {
                    routTransactionType = RoutTransactionTypeEnum.FiveSeven.GetDisplayName();
                }
            }
            <th>
                @routTransactionType
            </th>
        </tr>

        <tr class="tbl-tr-show">
            <th class="tbl-th-show">نوع اتومبیل:</th>
            <th> @(Model.AutomobileTypeTbl.IsBus == (int)AutomobileTypeEnum.Bus ? AutomobileTypeEnum.Bus.GetDisplayName() : AutomobileTypeEnum.MiniBus.GetDisplayName())</th>
        </tr>

        <tr class="tbl-tr-show">
            <th class="tbl-th-show">وضعیت کولر:</th>
            <th> @(Model.AutomobileTypeTbl.HasCooler ? HasCoolerEnum.HasCooler.GetDisplayName() : HasCoolerEnum.HasNotCooler.GetDisplayName())</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show"> تعداد:</th>
            <th> @Html.DisplayFor(model => model.Count)</th>
        </tr>
    </table>
</div>
<p>
    <div class="link-back">
        @Html.ActionLink("ویرایش", "Edit", new { id = Model.RoutID }) |
        @Html.ActionLink("بازگشت به لیست", "Index")
    </div>
</p>