@model SabzGashtTransportation.ViewModel.RoutTbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RoutTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegionTbl.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionTbl.RegionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShiftType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnterTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnterTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExitTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExitTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutomobileTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutomobileTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgreementPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgreementPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CFDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CFDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LFDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LFDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoutID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
