@using PagedList.Mvc
@using Sabz.ServiceLayer.Enumration
@using Sabz.ServiceLayer.Extension
@*@model PagedList.IPagedList<SabzGashtTransportation.ViewModel.RoutViewModel>*@
@model SabzGashtTransportation.ViewModel.RoutFullViewModel
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script src="~/js/jquery-3.3.1.min.js"></script>
@{
    ViewBag.Title = "مسیرها";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @Styles.Render("~/css/css/style.css");
    var counter = 1;
    var routTransactionType = "";
    //string regionDropDown = ViewBag.Region;
    //string regionDropDown =   TempData["Region"] != null ? TempData["Region"].ToString() : "" ;
    string regionDropDown = Model.RegionId != 0 ? Model.Regions.Where(x => x.Id == Model.RegionId).FirstOrDefault().RegionName : "";

}

<h2 class="style-h2">مسیرها</h2>

<button type="button" onclick="location.href='@Url.Action("create")';return false;" class="btn  btn-success">مسیر جدید</button>

@using (Html.BeginForm("Index", "Rout", FormMethod.Get))
{
    <div class="searchBox">
        <h4 class="style-h4">جستجو</h4>
        <table>
            <tr>
                <th class="font-small">از تاریخ</th>
                <th>
                    @Html.TextBoxFor(model => model.SearchDateFrom)
                    @Html.ValidationMessageFor(model => model.SearchDateFrom, "", new { @class = "text-danger" })

                </th>
                <th class="font-small">تا تاریخ</th>
                <th>
                    @*@Html.TextBox("SearchDateTo", ViewBag.CurrentFilterDateTo as string, new { @style = "width: 144px" })*@
                    @Html.TextBoxFor(model => model.SearchDateTo)
                    @Html.ValidationMessageFor(model => model.SearchDateTo, "", new { @class = "text-danger" })
                </th>
            </tr>
            <tr>
                <th class="font-small">نام منطقه</th>
                @if (string.IsNullOrEmpty(regionDropDown))
                {
                    regionDropDown = "انتخاب کنید";
                }
                <th>
                    @*@Html.DropDownList("RegionItems", regionDropDown)*@
                    @Html.DropDownListFor(x => Model.RegionId, new SelectList(Model.Regions, "Id", "RegionName"), regionDropDown)

                    @Html.Hidden("dropRegionId")

                </th>
            </tr>
        </table>
        <p class="search_table">
            <input type="submit" value="جستجو" id="btnSearchCode" name="search" />
            <input type="button" value="حذف فیلتر" onclick="location.href='@Url.Action("index")';return false;">
        </p>

    </div>
    <div class="searchBox">
        <h4 class="style-h4">آمار کلی</h4>
        <table>
            <tr>
                <th>مجموع تعداد کل اتوبوس:     </th>
                <th>
                    @ViewBag.TotalRoutCountBus
                </th>
            </tr>
            <tr>
                <th>مجموع اتوبوس اختصاص یافته:     </th>
                <th>
                    @ViewBag.AllocateRoutCountBus
                </th>
            </tr>
            <tr>
                <th>مجموع تعداد کل مینی بوس:     </th>
                <th>
                    @ViewBag.TotalRoutCountMiniBus
                </th>
            </tr>
            <tr>
                <th>مجموع مینی بوس اختصاص یافته:     </th>
                <th>
                    @ViewBag.AllocateRoutCountMiniBus
                </th>
            </tr>
        </table>
    </div>
}
<table id="showList">
    <tr>
        <th>
            ردیف
        </th>
        <th>
            @Html.ActionLink(" منطقه", "Index", new { sortOrder = ViewBag.RegionId, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("تاریخ", "Index", new { sortOrder = ViewBag.Date, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("ساعت ورود/خروج", "Index", new { sortOrder = ViewBag.EnterTime, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>
            @Html.ActionLink("مسیر ورودی/خروجی", "Index", new { sortOrder = ViewBag.ShiftType, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(" نوع مسیر", "Index", new { sortOrder = ViewBag.TransactionType, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(" نوع اتومبیل", "Index", new { sortOrder = ViewBag.AutomobileTypeBus, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(" کولر اتومبیل", "Index", new { sortOrder = ViewBag.AutomobileTypeCooler, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("تعداد", "Index", new { sortOrder = ViewBag.Count, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            اختصاص یافته
        </th>
        <th>
            باقی مانده
        </th>
        <th>
            عملیات
        </th>
    </tr>
    @if (Model.RoutViewModels != null)
    {
        foreach (var item in Model.RoutViewModels)
        {
            <tr>
                <td>
                    @counter
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.RegionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateString)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EnterTime)
                </td>
                <td>
                    @(item.ShiftType == (int)ShiftTypeEnum.Enter ? ShiftTypeEnum.Enter.GetDisplayName() : ShiftTypeEnum.Exit.GetDisplayName())
                </td>
                @{
                    if (item.RoutTransactionType == (int)RoutTransactionTypeEnum.Single)
                    {

                        routTransactionType = RoutTransactionTypeEnum.Single.GetDisplayName();
                    }
                    else if (item.RoutTransactionType == (int)RoutTransactionTypeEnum.Regular)
                    {
                        routTransactionType = RoutTransactionTypeEnum.Regular.GetDisplayName();
                    }
                    else if (item.RoutTransactionType == (int)RoutTransactionTypeEnum.ThereeFour)
                    {
                        routTransactionType = RoutTransactionTypeEnum.ThereeFour.GetDisplayName();
                    }
                    else if (item.RoutTransactionType == (int)RoutTransactionTypeEnum.FiveSeven)
                    {
                        routTransactionType = RoutTransactionTypeEnum.FiveSeven.GetDisplayName();
                    }
                }
                <td>@routTransactionType</td>
                <td>
                    @(item.AutomobileTypeTbl.IsBus == (int)AutomobileTypeEnum.Bus ? AutomobileTypeEnum.Bus.GetDisplayName() : AutomobileTypeEnum.MiniBus.GetDisplayName())
                </td>
                <td>
                    @(item.AutomobileTypeTbl.HasCooler ? HasCoolerEnum.HasCooler.GetDisplayName() : HasCoolerEnum.HasNotCooler.GetDisplayName())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.ActionLink(item.Allocate.ToString(), "SearchByRout", "DriverRout", new { id = item.RoutID }, null)
                </td>
                <td>
                    @*@((((int)item.Count) - ((int)item.Allocate)).ToString())*@
                    @Html.DisplayFor(modelItem => item.RemainAllocate)

                </td>
                <td>
                    @*@if (item.Allocate < item.Count)
                        {
                            @Html.ActionLink("اختصاص |", "Allocate", "DriverRout", new { id = item.RoutID }, null)
                        }*@
                    @Html.ActionLink("اختصاص ", "Allocate", "DriverRout", new { id = item.RoutID }, null) |
                    @Html.ActionLink("ویرایش", "Edit", new { id = item.RoutID }) |
                    @Html.ActionLink("جزئیات", "Details", new { id = item.RoutID })
                    @*|@Html.ActionLink("حذف", "Delete", new { id = item.RoutID })*@
                </td>
            </tr>
            counter += 1;
        }

    }

</table>
<br />
@if (Model.RoutViewModels != null)
{
    <p class="showPage">
        صفحه @(Model.RoutViewModels.PageCount < Model.RoutViewModels.PageNumber ? 0 : Model.RoutViewModels.PageNumber) از @Model.RoutViewModels.PageCount
    </p>

    @Html.PagedListPager(Model.RoutViewModels, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>

        $(function () {
            $('select').on('change', function () {
                $("#dropRegionId").val(this.value);
            })

        })
    </script>