
@using PagedList.Mvc
@using Sabz.ServiceLayer.Enumration
@using Sabz.ServiceLayer.Extension
@model PagedList.IPagedList<SabzGashtTransportation.ViewModel.RoutViewModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
    @Styles.Render("~/css/style.css");
}

<h2>مسیرها</h2>

<button type="button" onclick="location.href='@Url.Action("create")';return false;" class="btn btn-success">مسیر جدید</button>

@using (Html.BeginForm("Index", "Rout", FormMethod.Get))
{
    <p class="search_table">
        جستجو در جدول: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="جستجو" />
    </p>
}
<table id="showList">
    <tr>
        <th>
            @Html.ActionLink("نام مسیر", "Index", new { sortOrder = ViewBag.Name, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("نوع مسیر", "Index", new {sortOrder = ViewBag.ShiftType, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("ساعت ورود", "Index", new {sortOrder = ViewBag.EnterTime, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink(" ساعت خروج ", "Index", new {sortOrder = ViewBag.ExitTime, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink(" منطقه", "Index", new {sortOrder = ViewBag.RegionId, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink(" نوع اتومبیل", "Index", new {sortOrder = ViewBag.AutomobileTypeBus, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink(" کولر اتومبیل", "Index", new {sortOrder = ViewBag.AutomobileTypeCooler, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("تعداد", "Index", new {sortOrder = ViewBag.Count, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            عملیات
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ShiftType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EnterTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ExitTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RegionName)
    </td>
    <td>
        @(item.AutomobileTypeTbl.IsBus == (int)AutomobileTypeEnum.Bus ? AutomobileTypeEnum.Bus.GetDisplayName() : AutomobileTypeEnum.MiniBus.GetDisplayName())
    </td>
    <td>
        @(item.AutomobileTypeTbl.HasCooler ? HasCoolerEnum.HasCooler.GetDisplayName() : HasCoolerEnum.HasNotCooler.GetDisplayName())
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Count)
    </td>
    <td>
        @Html.ActionLink("ویرایش", "Edit", new { id = item.RoutID }) |
        @Html.ActionLink("جزئیات", "Details", new { id = item.RoutID }) |
        @Html.ActionLink("حذف", "Delete", new { id = item.RoutID })
    </td>
</tr>
    }

</table>
<br />
<p class="showPage">
    صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount
</p>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

