@using Sabz.ServiceLayer.Enumration
@using Sabz.ServiceLayer.Extension
@model SabzGashtTransportation.ViewModel.LogRoutDriverViewModel


@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
    @Styles.Render("~/css/style.css");

}

<h2>آیا مطمئن از حذف هستید؟ </h2>
<div>
   
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <table class="tbl-show">
            <tr class="tbl-tr-show">
                <th class="tbl-th-show">راننده:</th>
                <th> @Html.DisplayFor(model => model.DriverRoutTbl.DriverTbl.FullName)</th>
            </tr>
            <tr class="tbl-tr-show">
                <th class="tbl-th-show">مسیر:</th>
                <th> @Html.DisplayFor(model => model.DriverRoutTbl.RoutTbl.Name)</th>
            </tr>
            <tr class="tbl-tr-show">
                <th class="tbl-th-show">انجام شدن:</th>
                <th> @(Model.IsDone ? WorkDoneEnum.Done.GetDisplayName() : WorkDoneEnum.NotDone.GetDisplayName())</th>
            </tr>
            <tr class="tbl-tr-show">
                <th class="tbl-th-show">تاریخ انجام:</th>
                <th> @Html.DisplayFor(model => model.DoDateString)</th>
            </tr>
            <tr class="tbl-tr-show">
                <th class="tbl-th-show"> جریمه:</th>
                <th> @Html.DisplayFor(model => model.FinePrice)</th>
            </tr>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-danger">حذف</button>
            </div>
        </div>

        <div class="link-back">
            @Html.ActionLink("بازگشت به لیست", "Index")
        </div>
    }
</div>