@using Sabz.DomainClasses.DTO
@using Sabz.ServiceLayer.Enumration
@using Sabz.ServiceLayer.Utils
@model SabzGashtTransportation.ViewModel.LogDriverRoutViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
    @Styles.Render("~/css/style.css");
    var insurancTextShowDefault = "";

}


<h2>ویرایش</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <p class="control-label"> راننده:</p>
            <div class="col-md-10">
                @Html.DropDownListFor(x => Model.DriverId, new SelectList(Model.DriverTblList, "DriverId", "FullName"), htmlAttributes: new { @class = "form-control", id = "DriverSelect" })
                @Html.ValidationMessageFor(x => x.DriverId, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.DriverId)

            </div>
        </div>
        <div class="form-group">
            <p class="control-label"> مسیر:</p>
            <div class="col-md-10">
                @Html.DropDownListFor(x => Model.RoutId, new SelectList(Model.RoutTblList, "RoutId", "Name"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoutTbl.Name, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.RoutId)

            </div>
        </div>
        <div class="form-group">
            <p class="control-label"> انجام کار:</p>
            <div class="col-md-10">
                @Html.EnumDropDownListFor(x => x.WorkDoneEnum, "انتخاب کنید", new { @class = "form-control" })
                @*  @Html.DropDownListFor(x => Model.DriverId, new SelectList(Model.Drivers, "DriverId", "FullName"), htmlAttributes: new {@class = "form-control", id = "DriverSelect"})*@
                @Html.ValidationMessageFor(x => x.IsDone, "", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.IsDone)*@

            </div>
        </div>        <div class="form-group">
            <p class="control-label">  نوع فعالیت:</p>
            <div class="col-md-10">
                @Html.EnumDropDownListFor(x => x.WorkTemporaryEnum, "انتخاب کنید", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.RoutIsTemporary, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RoutIsTemporary)

            </div>
        </div>

        <div class="form-group">
            <p class="control-label">تاریخ انجام:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DoDateString, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DoDateString, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label">جریمه:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinePrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FinePrice, "", new { @class = "text-danger" })
            </div>
        </div>
        


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">ثبت</button>
            </div>
        </div>
    </div>
}
<div class="link-back">
    @Html.ActionLink("بازگشت به لیست", "Index")
</div>

