@model SabzGashtTransportation.ViewModel.DriverViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
    @Styles.Render("~/css/style.css");

}

<h2>آیا مطمئن از حذف هستید؟ </h2>
<div>
    <table class="tbl-show">
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">نام:</th>
            <th> @Html.DisplayFor(model => model.FirstName)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show"> نام خانوادگی:</th>
            <th> @Html.DisplayFor(model => model.LastName)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">نام پدر:</th>
            <th> @Html.DisplayFor(model => model.FatherName)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">کد ملی:</th>
            <th> @Html.DisplayFor(model => model.NationalCode)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">تلفن:</th>
            <th> @Html.DisplayFor(model => model.Phone1)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">آدرس:</th>
            <th> @Html.DisplayFor(model => model.Address)</th>
        </tr>

    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<button type="submit" value="Create" class="btn btn-success">ثبت</button>*@
                <button type="submit" class="btn btn-danger">حذف</button>

            </div>
        </div>

        <div class="link-back">
            @Html.ActionLink("بازگشت به لیست", "Index")
        </div>
    }
</div>
