@model SabzGashtTransportation.ViewModel.DriverViewModel
@{
    ViewBag.Title = "جزئیات راننده";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
    @Styles.Render("~/css/style.css");
}

<h2>اطلاعات بیشتر</h2>

<div>
    <table class="tbl-show">
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">نام:</th>
            <th> @Html.DisplayFor(model => model.FirstName)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show"> نام خانوادگی:</th>
            <th> @Html.DisplayFor(model => model.LastName)</th> 
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">نام پدر:</th>
            <th> @Html.DisplayFor(model => model.FatherName)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">کد ملی:</th>
            <th> @Html.DisplayFor(model => model.NationalCode)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">تاریخ تولد:</th>
            <th> @Html.DisplayFor(model => model.BirthDateString)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">شماره گواهینامه:</th>
            <th> @Html.DisplayFor(model => model.LicenceCode)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">تلفن:</th>
            <th> @Html.DisplayFor(model => model.Phone1)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">آدرس:</th>
            <th> @Html.DisplayFor(model => model.Address)</th>
        </tr>
    </table>
</div>
<p>
    <div class="link-back">
        @Html.ActionLink("ویرایش", "Edit", new { id = Model.DriverId }) |
        @Html.ActionLink("بازگشت به لیست", "Index")
    </div>
</p>
