@using PagedList.Mvc

@model SabzGashtTransportation.ViewModel.DriverFullViewModel
 
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "کارمندان";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @Styles.Render("~/css/css/style.css");
    var counter = 1;
}

<h2 class="style-h2">کارمندان</h2>

<button type="button" onclick="location.href='@Url.Action("create")';return false;" class="btn btn-success">کارمند جدید</button>

@using (Html.BeginForm("Index", "Drivers", FormMethod.Get))
{
    <p class="search_table">
        جستجو در جدول: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="جستجو" />
        <input type="button" value="حذف فیلتر" onclick="location.href='@Url.Action("index")';return false;">

    </p>
}
<table id="showList">
    <tr>
        <th>
            ردیف
        </th>
        <th>
            @Html.ActionLink("نام", "Index", new { sortOrder = ViewBag.FirstName, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="table-sort-th">
            @Html.ActionLink("نام خانوادگی", "Index", new { sortOrder = ViewBag.LastName, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="table-sort-th">
            @Html.ActionLink(" تلفن ", "Index", new { sortOrder = ViewBag.Phone, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="table-sort-th">
            @Html.ActionLink(" شماره حساب ", "Index", new { sortOrder = ViewBag.BankAccount, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            عملیات
        </th>
    </tr>

    @foreach (var item in Model.DriverViewModels)
    {
        <tr>
            <td>
                @counter
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone1)
            </td>
            <td>
                @foreach (var acnt in item.BankAccountNumbers)
                {
                    @Html.DisplayFor(modelItem => acnt.BankAccountNumber) 
                    @Html.DisplayFor(modelItem => Model.Regiones.Where(x=>x.Id==acnt.RegionId).FirstOrDefault().RegionName)
                    <br/>
                }
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.BankAccountNumber)
            </td>*@
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.DriverId }) |
                @Html.ActionLink("جزئیات", "Details", new { id = item.DriverId })
                @*@Html.ActionLink("حذف", "Delete", new { id = item.DriverId })*@
            </td>
        </tr>
        counter += 1;

    }

</table>
<br />
<p class="showPage">
    صفحه @(Model.DriverViewModels.PageCount < Model.DriverViewModels.PageNumber ? 0 : Model.DriverViewModels.PageNumber) از @Model.DriverViewModels.PageCount
</p>

@Html.PagedListPager(Model.DriverViewModels, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))