@model SabzGashtTransportation.ViewModel.AccidentViewModel


@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
    @Styles.Render("~/css/style.css");

}

<h2>آیا مطمئن از حذف هستید؟ </h2>
<div>
    <table class="tbl-show">
        <tr class="tbl-tr-show">
            <th class="tbl-th-show"> نام راننده:</th>
            <th> @Html.DisplayFor(model => model.DriverFullName)</th>
        </tr> 
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">اتومبیل:</th>
            <th> @Html.DisplayFor(model => model.AutomobileNumber)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show"> هزینه:</th>
            <th> @Html.DisplayFor(model => model.Cost)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">استفاده از بیمه:</th>
            <th>@ViewBag.insurance</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">توضیحات:</th>
            <th> @Html.DisplayFor(model => model.Description)</th>
        </tr>

    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<button type="submit" value="Create" class="btn btn-success">ثبت</button>*@
                <button type="submit" class="btn btn-danger">حذف</button>

            </div>
        </div>

        <div class="link-back">
            @Html.ActionLink("بازگشت به لیست", "Index")
        </div>
    }
</div>