@using Sabz.ServiceLayer.Utils
@model SabzGashtTransportation.ViewModel.AccidentViewModel 

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
    @Styles.Render("~/css/style.css");
}

<h2>اطلاعات بیشتر</h2>

<div>
    <table class="tbl-show">
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">راننده:</th>
            <th> @Html.DisplayFor(model => model.DriverFullName)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show"> اتومبیل:</th>
            <th> @Html.DisplayFor(model => model.AutomobileNumber)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">هزینه:</th>
            <th> @Html.DisplayFor(model => model.Cost)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">استفاده از بیمه:</th>
            <th> @Html.DisplayFor(model => model.UseInsurence)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">تاریخ ایجاد:</th>
            <th> @Html.DisplayFor(model => model.CFDateString)</th>
        </tr>
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">تاریخ آخرین تغییر:</th>
            <th> @Html.DisplayFor(model => model.LFDateString)</th>
        </tr>  

    </table>
</div>
<p>
    <div class="link-back">
        @Html.ActionLink("ویرایش", "Edit", new { id = Model.AccidentId }) |
        @Html.ActionLink("بازگشت به لیست", "Index")
    </div>
</p>
