@using Sabz.ServiceLayer.Utils
@model Sabz.DomainClasses.DTO.AccidentTbl

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AccidentTbl</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AccidentId)

        <div class="form-group">
            <p class="control-label">استفاده از بیمه:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UseInsurence, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UseInsurence, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label">هزینه:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label">توضیحات:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div> 

        <div class="form-group">
            <p class = "control-label">تاریخ ایجاد:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CFDate.ToPersianDateString(), new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.CFDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <p class = "control-label">تاریخ آخرین تغییر:</p>
            <div class="col-md-10">
                <p class = "control-label">تاریخ آخرین تغییر:</p>
                @Html.EditorFor(model => model.LFDate.ToPersianDateString(), new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LFDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class = "control-label">راننده:</p>
            <div class="col-md-10">
                @Html.DropDownList("DriverId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DriverId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class = "control-label">اتومبیل:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AutomobileId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AutomobileId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
