
@using PagedList.Mvc
@model PagedList.IPagedList<SabzGashtTransportation.ViewModel.AccidentViewModel> 
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
    @Styles.Render("~/css/style.css");
}

<h2>تصادفات</h2>

<button type="button" onclick="location.href='@Url.Action("create")';return false;" class="btn btn-success">تصادف جدید</button>

@using (Html.BeginForm("Index", "AccidentTbls", FormMethod.Get))
{
    <p class="search_table">
        جستجو در جدول: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="جستجو" />
    </p>
} 
<table id="showList" >
    <tr >
        <th >
            @Html.ActionLink("راننده", "Index", new { sortOrder = ViewBag.Driver, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th >
            @Html.ActionLink("اتومبیل", "Index", new { sortOrder = ViewBag.Automobile, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(" هزینه ", "Index", new { sortOrder = ViewBag.Cost, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th >
            @Html.ActionLink(" استفاده از بیمه", "Index", new { sortOrder = ViewBag.Insurance, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            عملیات
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr >
            <td  >
                @Html.DisplayFor(modelItem => item.DriverFullName)
            </td>
            <td  >
                @Html.DisplayFor(modelItem => item.AutomobileNumber)
            </td>
            <td  >
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td  >
                @(item.UseInsurence == 1 ? "استفاده شده" : "استفاده نشده")
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.AccidentId }) |
                @Html.ActionLink("جزئیات", "Details", new { id = item.AccidentId }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.AccidentId })
            </td>
        </tr>
    }

</table>
<br />
<p class="showPage">
    صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount
</p>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
