
@model PagedList.IPagedList<Sabz.DomainClasses.DTO.AccidentTbl>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
    @Styles.Render("~/css/style.css");
}

<h2>Students</h2>

<p>
    @Html.ActionLink("ثبت تصادف", "Create")
</p>
@using (Html.BeginForm("Index", "AccidentTbls", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("راننده", "Index", new { sortOrder = ViewBag.Driver, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("اتومبیل", "Index", new { sortOrder = ViewBag.Automobile, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink(" هزینه ", "Index", new {sortOrder = ViewBag.Cost, currentFilter = ViewBag.CurrentFilter})
        </th> 
        <th>
            @Html.ActionLink(" استفاده از بیمه", "Index", new {sortOrder = ViewBag.Insurance, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DriverId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutomobileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UseInsurence)
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.AccidentId }) |
                @Html.ActionLink("جزئیات", "Details", new { id = item.AccidentId}) |
                @Html.ActionLink("حذف", "Delete", new { id = item.AccidentId })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))